body{
    padding: 20px;
}

.title{
    text-align: center;
}
table, td, th {
    border: 1px solid black;
}

table tr th {
    background-color: navy;
    color: white;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

ul.pagination {
    display: inline-block;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li.active a{
    color: black;
}